
.footer {
  max-width: 100vw;
  background-image:url(../Assets/contact-me-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
}
.footer-container {
  margin: auto;
}
.para{
  color: #2c0141;
}
.icon{
  color: #2c0141;
}
.left {
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10rem;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.8rem;
}
.location p {
  line-height: 30px;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.8rem;
}
.phone p {
  line-height: 30px;
}

.right {
  height: 100%;
  max-width: 100%;
}
.social {
  margin-top: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
h4 {
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
}
p {
  font-size: 1.2rem;
} 
.email {
  display: flex;
  margin-bottom: 0.8rem;
  align-items: center;

}
.email p {
  line-height: 30px;
}
@media only screen and (min-width:380px) {
  .left{
      padding-left: 0px;
      padding-right: 0px; 
      margin: 40px;
      margin-top: 0;
  }
  .social{
padding: 0px;
margin: 40px;
  }
  
}
@media only screen and (min-width:320px){
.left{
    padding-left: 0px;
    padding-right: 0px; 
    margin:40px;
    margin-top: 0;
}
.para{
  font-size: 14px;
}
.social{
  padding: 0px;
  margin: 40px;
    }
/* .footer{
  width: 100%;
  height: auto;
  
} */
}